
*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(2, 2, 37);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 5px auto;
}
.logo {
   color: white;
  padding: 10px;
  margin-left: 10px;
}
ul{
    display: flex;
    gap: 30px;
    padding: 17px;
}
li{
  list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover{
    background-color:white;
    color: black;
    border-radius: 8px;
}

.user{ 
   margin-left: auto; 
   margin-right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
.btn{
    padding: 10px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(249, 249, 250, 0);
    color: white;
    border: 2px solid white;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.burger-toggle{
    display: none;
    width: 30px;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
  }
.container{
display: flex;
flex-direction: row;
gap: 20px;
width: auto;
margin: 10px;
margin-top: 50px;
}
.text{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 280px;
  height: auto;
  padding: 10px;
  text-align: justify;
  justify-content: center;
  gap: 50px;
}
button{
  padding: 10px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(2, 2, 37);
    color: white;
    border: 2px solid black;
}
button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}
.photo{
  display: flex;
min-width: 0;
min-height:0;
align-items: center;
}
img{ 
  min-width: 0; 
 min-height:0;
}
footer{
  margin-top: auto;
  padding: 20px;
  text-align: center;
  color: grey;
  font-size: small;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
 padding: 30px;
}
.did{
  margin: 100px auto;
  height: 280px;
  width: 330px;
  border-radius: 30px;
  background-color: rgb(177, 177, 219);
}
input{
  height: 25px;
  border: none;
}
.btnDialog{
  margin: 10px;
 width: 100px;
}

@media (max-width: 991px){
  .container{
    display: flex;
    flex-direction: column-reverse;
   
  }
  .text{
    align-self: center;
    width: auto;
  }
  img{
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
 
  .avatar{
    display: none;
  }
   ul{
        display: none;
    }
    .burger-toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 100px;
    }
    
  
    .burger-toggle.active .line:nth-child(1) {
      transform: translateY(8px) rotate(-45deg);
      background-color: rgb(252, 252, 142);
      transition: all 0.5s;
      }
      
      .burger-toggle.active .line:nth-child(2) {
        opacity: 0;
        transition: opacity 0.5s;
      }
      
      .burger-toggle.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
        background-color: rgb(252, 252, 142);
        transition: all 0.5s;
      }
      nav.active{
        height: 110px;
        transition: all 0.5s;
      }
      nav.active button{
        margin-top: -60px;
      }
      nav.active div.burger-toggle{
        display: flex;
        width: 10%;
        margin-right: -10px;
      }
    nav.active ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
    } 
 
    .did{
      width: 250px;
      height: 370px;
    }
}
